/* AlsoLike.css */
.hh2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.also-like-title {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0 16px;
  color: #111827;
}

.sing1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 10px 0px 8px 10px rgba(0.05,0,0,0.05);
}
/* cards wrapper */
.newcar {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 100px;
  background: #fff; /* որ գույնի գծեր չերևան */
}

/* responsive */
@media (max-width: 1100px) {
  .newcar {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }
}

@media (max-width: 820px) {
  .newcar {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 520px) {
  .newcar {
    grid-template-columns: 1fr;
  }
}
